<div class="card">
  <div class="card-body">
    <form (ngSubmit)="addNewNote(); noteForm.reset()" #noteForm="ngForm">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="addNote">Note:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="addNote" id="addNote" [(ngModel)]="noteText" required minlength="3">
        </div>
        <div class="col-sm-2">
            <button [disabled]="noteForm.invalid" type="submit" class="btn btn-success btn-block">Add Note</button>
        </div>
      </div>
    </form>
  </div>
</div>